// Custom utility classes
$spacer: 5px;

$padding-1: 5px;
$padding-2: 15px;
$padding-3: 25px;
$padding-4: 35px;
$padding-5: 45px;

$spacer-1: $spacer * 1;
$spacer-2: $spacer * 2;
$spacer-3: $spacer * 3;
$spacer-4: $spacer * 5;
$spacer-5: $spacer * 7;

.p-1 {
	padding: $padding-1 !important;
}

.p-2 {
	padding: $padding-2 !important;
}

.p-3 {
	padding: $padding-3 !important;
}

.p-4 {