@import "compass/css3";

$color-dark: #1E2027;
$width: 280px;
$width-compressed: 52px;

.sidenav{
  position: fixed;
  width: $width;
  height: 100%;
  background-color: $color-dark;

  .main-buttons{
    list-style-type: none;
    margin: 64px 0;
    padding: 0;
    color: #fff;
    li{
      text-transform: uppercase;
      letter-spacing: 2px;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      font-weight: 600;
    }
    
    & > li{
      padding: 16px $width-compressed;
      @include box-sizing(border-box);